body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

* {
    font-size: 18px;
}

.container {
    position: relative;
    z-index: 1;
}

.start-btn {
    position: absolute;
    z-index: 1;
    top: 94%;
    left: 50%;
    text-align: center;
    background-color: rgba(255, 222, 0, 0.9);
    border: 1px solid #000000;
    box-shadow: 6px 6px 0px #000000;
    transform: skewX(-15deg) translate(-50%, -50%);
    font-size: 48px;
    padding: 6px;
    letter-spacing: 6px;
    user-select: none;
    transition: all 125ms ease-in-out;
}

.start-btn:hover {
    transform: scale(1.2) skewX(-15deg) translate(-50%, -50%);
    background-color: #fee128;
}

.fullscreen-btn, .fullscreenexit-btn {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
}

.fullscreen-btn i, .fullscreenexit-btn i {
    font-size: 36px;
}

.control-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #994409;
    padding: 16px;
    max-width: 760px;
    width: 100%;
    height: 145px;
    box-sizing: border-box;
    font-family: 'Gochi Hand', cursive;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
    transition: all 125ms ease-in-out;
}

.d-none {
    transform: translateY(-110px);
}

.hide {
    display: none;
}

.control-bar div {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    user-select: none;
}

#show-controller {
    width: 100%;
    position: absolute;
    bottom: 2px;
    letter-spacing: 6px;
    color: lightgrey;
}

.mobile-control-bar {
    position: absolute;
    width: 100%;
    bottom: -5px;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    z-index: 2;
}

.mobile-control-bar span {
    font-size: 12px;
    font-family: 'Gochi Hand', cursive;
    text-shadow: 0px 0px 12px #000000;
}

.run-controls, .action-controls {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 24px;
    color: black;
}

.run-controls div, .action-controls div {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.mobile-control-bar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 0 12px 0px rgb(0 0 0 / 60%);
    opacity: 0.6;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

canvas {
    background-color: black;
    background-image: url('img/9.Intro _ Outro Image/Start Screen/Opción 1.png');
    background-size: cover;
    background-position: right top;
    display: block;
    pointer-events: none;
    z-index: 1;
}


/* Smartphone portrait*/
@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    .mobile-control-bar {
        display: flex;
    }

    .start-btn {
        font-size: 24px;
        top: 16%;
    }

    .control-bar {
        display: none;
    }

}

/* Smartphone landscape*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .mobile-control-bar {
        display: flex;
    }

    .start-btn {
        font-size: 24px;
        top: 56%;
    }

    .control-bar {
        display: none;
    }
}